# Java / Maven
target/
*.class
*.log

# Config sensible
config-server/config-repo/*-local.properties

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/

# IDE files
*.iml
.idea/
.vscode/
