# ======================
# Node / Angular
# ======================
user_frontend/node_modules/
user_frontend/dist/
user_frontend/.angular/
user_frontend/.cache/

# ======================
# Java / Spring Boot
# ======================
**/target/
**/*.log

# ======================
# IDE
# ======================
.idea/
.vscode/
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
